<a href="https://colab.research.google.com/github/EG-world/SQL/blob/main/DataBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 데이터 (Data)
- 데이터는 정보를 나타내는 숫자, 문자, 기호의 집합
- 컴퓨터 또는 디지털 장치에서 처리하고 저장할 수 있는 형태

### 2. 데이터베이스 (Data Base)
- 체계적으로 구성된 데이터의 집합이며, 특정 목적을 위해 조직화되고 관리 (저장소)
- 정보를 효율적으로 저장, 검색, 업데이트, 관리할 수 있는 기술적인 도구와 구조를 제공
- 데이터베이스 관리 시스템(Data Base Management System) : DB를 관리 할 수 있는 기술적인 소프트웨어
- Oracle, mangoDB, MSSQL, MySQL, ...
- https://db-engines.com/en/ranking  (자주 사용하는 SQL tool 순위)

### 3. 관계형 데이터베이스시스템(Relational DBMS)
- 데이터를 테이블(표) 형식으로 관리하고, 각 테이블 간의 관계를 설정하여 데이터를 효율적으로 저장, 검색하는
데이터 베이스 관리 시스템의 한 종류
- SQL(Structured Query Language) : 관계형 데이터베이스에서 데이터를 정의하고 조작하기 위한 언어

# **4. SQL**
- 대소문자를 구별하지 않음
- 문자열을 저장할 때 ' '(작은 따옴표)만 사용
- 주석문 : #, --, /* */

```
in MySQL

* 데이터 베이스 확인하기
show databases;

* 데이터베이스 만들기
create database kdt;  -> 만들어지는 위치는 랜덤 (순서가 없음)

* 테이블 만드는 기본 형태
create table 테이블명(필드명1 데이터타입 제약조건, 필드명2 데이터타입 제약조건, ...)
```

### 4-1. SQL의 데이터 타입
1. 숫자형
- 정수형 : TINYINT, SMALLINT, MEDIUMINT, INT, BIGINT
- 실수형 : FLOAT, DOUBLE, DECIMAL

2. 문자형
- CHAR, VARCHAR, BINARY, VARBINARY, TEXT

(VARCHAR, VARBINARY를 많이 사용하는 이유 : 데이터 실제 길이에 맞는 공간을 사용하므로 메모리를 효율적으로 사용가능)

(CHAR는 문자 BINARY는 0과1로 이루어진 이진데이터(동영상, 사진, 사운드 등))

3. 날짜형
DATE, TIME, DATETIME, TIMESTAMP, YEAR

(굳이 날짜형이 있는 이유는 날짜, 시간을 계산하기 위해.)

(TIMESTAMP는 시간의 차이를 계산하고자 할 때 사용.)

### 4-2. 제약조건 (MySQL기준)
- 데이터의 무결성을 지키기 위해 데이터를 입력받을 때 실행되는 검사 규칙
(무결성 : 결합이 없어야한다)
- not null: null값을 허용하지 않음
- unique : 중복값을 허용하지 않음 (null값은 허용)
- default : null값을 삽입할 때 기본이 되는 값을 설정함
- Primary Key : null값, 중복값을 허용하지 않음, 인덱싱을 설정. (테이블에 단 하나만 설정 가능)

# 테이블 만들기 (Create)

```
create 테이블명 (
  속성명1 데이터타입 제약조건,
  속성명2 데이터타입 제약조건,
  속성명3 데이터타입 제약조건,
  ...
);
```

```
create words(
  eng varchar(50) primary key,
    kor varchar(50) not null,
    lev int default 1
);
```

# 데이터 삽입 (Insert)

```
1. insert into 테이블명
   values (값1, 값2, 값3, ...)

2. insert into 테이블명 (속성값1, 속성값2, ...)
   values (값1, 값2, 값3, ...)
```

```
insert into words
values ('banana', '바나나', null);

insert into words (eng, kor, lev)
values ('orange', '오렌지', 1);
```

# 데이터 수정 (Update)

```
1. update 테이블명 set 필드명1 = 값1, 필드명2 = 값2, ...
2. update 테이블명 set 필드명1 = 값1, 필드명2 = 값2, ... where 조건

일시적인 safe모드 해제
- set sql_safe_updates = 0;
    
영구적인 safe모드 해제
- Edit -> Preferences -> SQL Editor -> safe updates ~ 체크해제 -> Workbench를 재시작
```

```
update words set lev=1;

update words set kor='오륀지' where eng='orange';
```

# 데이터 삭제

```
1. delete from 테이블명
2. delete from 테이블면 where 조건
```

```
delete from words where eng='orange';
delete from words;
```

# 검색하기
```
1. select
2. select 필드명1, 필드명2, ... from 테이블
3. select 필드명1, 필드명2, ... from 테이블 where 조건
4. select 필드명1, 필드명2, ... from 테이블 [where 조건] order by 필드명 [asc,  desc]	# []는 생략가능
5. select 필드명1, 필드명2, ... from 테이블 [where 조건] [order by 필드명 [asc, desc]] limit [숫자], 숫자
6. select 필드명1, 필드명2, ... from 테이블 [where 조건] [group by 필드명] [having 조건] [order by 필드명 [asc, desc]] limit [숫자], 숫자
```

```
1)
select 100 + 50 as 덧셈;
select 100 + 50 as '덧셈 연산'; # 띄어쓰기를 할 때는 문자열로 사용해야함
select null;
select ''; # 비어있는 데이터가 있다 라는 뜻
select 100 + null; # null과는 연산 할 수 없음. (결과 : null)
select 100 + ''; # 연산 가능 (결과 : 100)
```

```
2)
select eng from words;
select eng, kor from words;
select * from words;
```

```
3)
# userid가 'apple'인 유저의 아이디, 이름, 성별을 출력
select userid, name, gender from member where userid='apple';

# 성별이 '남자'인 유저를 모두 출력(단, 컬럼도 모두 출력)
select * from member where gender='남';
```

# 연산자

```
1. 산술 연산자 : +, -, *, /, mod(나머지), div(몫)
2. 비교 연산자 : =, <, >, <=, >=, <>(다르다)
3. 대입 연산자 : =
4. 논리 연산자 : and, or, not, xor
5. 기타 연산자
- is : 양쪽의 피 연산자가 모두 같으면 true 아니면 false
- between A and B : A보다는 크거나 같고, B보다 작거나 같으면 true 아니면 false
- in : 매개변수로 전달된 리스트에 값이 존재하면 true 아니면 false
- like : 패턴으로 문자열을 검색하여 값이 존재하면 true 아니면 false
```

```
3)
# point가 200이상인 유저의 아이디, 이름, 포인트 출력
select userid, name, point from member where point>=200; # 쿼리, 시퀄
select userid, name, point from member where point between 200 and 1000;
select userid, name, point from member where point>=200 AND point<=1000;

# id가 a로 시작하는 유저의 모든 컬럼을 출력
select * from member where userid like 'a%';

# words 테이블에서 lev이 null인 데이터를 출력
select * from words where lev is null;
```

```
4)
# 유저 테이블에서 아이디로 오름차순하여 모든 컬럼을 출력
select * from member order by userid;
select * from member order by userid asc;

# 유저 테이블에서 포인트순으로 오름차순하고 포인트가 같다면 userid로 내림차순
select * from member
order by point asc, userid desc;
```

```
5) limit (일부 로우만 출력)
# limit 가져올 로우의 개수, limit 시작로우(인덱스), 가져올 로우의 개수
select * from member limit 3; # 상위 3개를 가져옴
select * from member limit 2, 2; # 2번 인덱스 부터 2개
```

```
6) group by
# select 그룹을 맺은 컬럼 또는 집계함수 from 테이블 group by 필드명
# select 그룹을 맺은 컬럼 또는 집계함수 from 테이블 group by 필드명 having 조건
# 집계함수 : count(), sum(), avg(), min(), max()

select gender from member group by gender;
select gender from member group by gender having gender='남';

select count(zipcode) as cnt from member;
```

### 종합 문제
- 유저 테이블에서 포인트가 150 이상인 유저 중에서 성별로 그룹을 나눠 각 그룹의 포인트 평균을 구하고 평균의 표인트가 200 이상인 성별을 알아보자
- 단, 성별이 남, 녀 모두 나온다면 포인트가 높은 성별을 우선으로 출력

```
select gender as 성별, avg(point) as 평균 from member where point>=150 group by gender having 평균 >= 200 order by 평균 desc;
```